body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("../img/sad.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.error {
    font-size: 120%;
    color: red;
}